@use '../helpers' as *;

.main-layout{
    display: flex;
    
    &__sidebar{
        position: sticky;
        width: 27.1%;
        height: rem(900);
        margin: rem(22);
        padding-left: rem(28);
        padding-right: rem(30);
        background-color: var(--color-grey);
        border-radius: rem(38);
        box-sizing: border-box;
        overflow: hidden;
    }

}