@use 'helpers' as *;

:root {
    --color-dark: #0D0D0D;
    --color-grey: #181818;
    --color-accent: #5E26C7;
    --color-perple: #2E0053;
    --color-white: #FFFFFF;

    --color-gradient: linear-gradient(-75deg, #360A87, #2E0053);
    --color-gradient-black: linear-gradient( to top,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.3) 80%,   
        rgba(0, 0, 0, 0) 100%      
    );

    --font-family-base: 'Roboto', sans-serif;
    --font-family-accent: 'IBMPlexMono', sans-serif;

    --border: #{rem(1)} solid var(--color-white);

    /*если что здесь меняем*/
    --container-width: #{rem(925)};
    --container-padding-x: #{rem(16)};

    --transition-duration: 0.2s;

    @include laptop {
        --container-width: #{rem(850)};
    }
}